{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}

{% block body %}
    <main>
        <h2>Administration</h2>
        <div>
            <p>Bienvenue sur la page d'administration.</p>
        </div>
    </main>
{% endblock %}