{% extends 'base.html.twig' %}

{% block body %}

    <form class="connexion-form" method="post">
        
        <h2 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h2>
        <form action="{{ path('app_connexion') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required style="border: 2px solid #198754; border-radius: 5px;"><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required style="border: 2px solid #198754; border-radius: 5px;"><br>

        <button type="submit" style="background-color: burlywood; color: #198754; border-color: #198754; border-radius: 10px;">Se connecter</button>
        </form>
        
            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Se souvenir de moi</label>
            </div>
    </form>

    <h2 class="not-yet-title">Pas encore de compte ?</h2>

    <a href="{{ path('app_create_user') }}" class="create-account-link">Créer un compte</a>
{% endblock %}
