{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}
{% block body %}
    <main>
        <h2 class="contact-title">Contactez-nous</h2>
        <div class="contact-info">
            <p>Pour toute question ou demande d'information, n'hésitez pas à nous contacter à l'adresse suivante :</p>
            <p>Email : <a href="mailto:valle_thomas@hotmail.fr">valle_thomas@hotmail.fr</a></p>
        </div>
    </main>
{% endblock %}