{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}
{% block body %}
    <main>
        <h2>Accès aux covoiturages</h2>
        <div>
            <p>Bienvenue sur la page des covoiturages. Ici, vous pouvez rechercher et réserver des trajets partagés avec d'autres utilisateurs.</p>
        </div> 
    </main>
{% endblock %}