{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}

{% block body %}
<body>
    <main>
            <h2>Bienvenue sur votre espace employé</h2>
            <div>
                <p>Gérez les covoiturages, les utilisateurs et les réservations ici.</p>
            </div>
    </main>
</body>
{% endblock %} 