{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}

{% block body %}
<body>
    <main>
        <h2>Ecoride, qu'est ce que c'est ? Une solution simple et engagée pour réduire les couts à la fois pour votre porte-monnaie et pour la planète !
        </h2>
        <div>
        Texte de présentation de l'entreprise et de ses valeurs. Ecoride est une plateforme de covoiturage qui met en relation des conducteurs et des passagers souhaitant partager un trajet en voiture. Notre mission est de promouvoir une mobilité plus durable en réduisant le nombre de véhicules sur les routes, ce qui contribue à diminuer les émissions de gaz à effet de serre et la congestion urbaine.
        </div>
        <!-- Card présentant les avantages du covoiturage avec Ecoride -->
                <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
            <img src="{{ asset ('Images/route.jpg') }}" class="card-img-top" alt="route">
            <div class="card-body">
                <h5 class="card-title">Ecologie</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="{{ asset ('Images/telephone.jpg') }}" class="card-img-top" alt="telephone">
            <div class="card-body">
                <h5 class="card-title">Convivialite</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="{{ asset ('Images/volant.jpg') }}" class="card-img-top" alt="volant">
            <div class="card-body">
                <h5 class="card-title">Economies</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <a href="mailto:valle_thomas@hotmail.fr">Mail</a>
        <a href="{{ path ('app_mentions_legales') }}">Mentions Légales</a>
    </footer>
</body>
{% endblock %}