{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}

{% block body %}
<body>
    <main class="presentation">
        <h2 class="titre_presentation">Ecoride, qu'est ce que c'est ? Une solution simple et engagée pour réduire les couts à la fois pour votre porte-monnaie et pour la planète !
        </h2>
        <div class="texte_presentation">
            Ecoride est une plateforme de covoiturage qui met en relation des conducteurs et des passagers souhaitant partager un trajet en voiture. Notre mission est de promouvoir une mobilité plus durable en réduisant le nombre de véhicules sur les routes, ce qui contribue à diminuer les émissions de gaz à effet de serre et la congestion urbaine.
        </div>
        <!-- Card présentant les avantages du covoiturage avec Ecoride -->
                <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
            <img src="{{ asset ('Images/route.jpg') }}" class="card-img-top" alt="route">
            <div class="card-body">
                <h5 class="card-title">Ecologie</h5>
                <p class="card-text">Covoiturer est devenu un geste écologique essentiel pour préserver notre planète. Grâce à EcoRide, vous contribuez à réduire votre empreinte carbone en partageant vos trajets avec d'autres passagers. C'est pourquoi nous encourageons le covoiturage responsable et respectueux de l'environnement.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="{{ asset ('Images/convivialite.jpg') }}" class="card-img-top" alt="convivialite">
            <div class="card-body">
                <h5 class="card-title">Convivialite</h5>
                <p class="card-text">Le covoiturage favorise les échanges et les rencontres entre les passagers, créant ainsi un esprit de communauté et de convivialité. Avec EcoRide, vous pouvez partager des moments agréables tout en réduisant votre impact environnemental.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="{{ asset ('Images/volant.jpg') }}" class="card-img-top" alt="volant">
            <div class="card-body">
                <h5 class="card-title">Economies</h5>
                <p class="card-text">Le covoiturage permet de partager les frais de déplacement, ce qui se traduit par des économies significatives pour les conducteurs et les passagers. Avec EcoRide, vous pouvez réduire vos dépenses liées aux trajets tout en contribuant à un mode de transport plus durable.</p>
            </div>
            </div>
        </div>
        </div>
    </main>
</body>
{% endblock %}