{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}

{% block body %}
    <main>
        <h2>Mentions Légales</h2>
        <div>
            <p>Texte des mentions légales...</p>
        </div>
    </main>
{% endblock %}