{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}

{% block body %}
<body>
    <main>
        <h2>Historique de vos réservations</h2>
        <div>
            <p>Voici la liste de toutes les réservations que vous avez effectuées jusqu'à présent.</p>
        </div>
    </main>
</body>
{% endblock %}