{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}

{% block body %}
<main>
    <h2>Saisir un nouveau voyage</h2>
    {{ form_start(form) }}
        {{ form(form) }}
    {{ form_end(form) }}
</main>
{% endblock %} 