{% extends 'base.html.twig' %}

{% block title %}Ecoride{% endblock %}

{% block body %}
<main>

    <h2 class="saisir-title">Saisir un nouveau voyage</h2>

        <div class="form-container">
            {{ form_start(form) }}
                {{ form(form) }}
            {{ form_end(form) }}
        </div>
</main>
{% endblock %} 