body {
    background-color: burlywood;
}

/* HEADER */
header {
    border-bottom: 5px solid green;
}

.navbar {
    color: burlywood;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-body-tertiary {
    background-color: #198754 !important;
}

.nav-link {
    color: burlywood;
    padding: 10px;
    padding-top: 42px;
    font-family: inherit;
    font-size: 30px;
}

.nav-link:hover {
    font-weight: bold;
}

.logo {
    margin: 20px;
}

.btn-outline-success {
    color: burlywood;
    border-color: burlywood;
    font-family: inherit;
    font-size: 25px;
}

/* PRESENTATION */
.presentation {
    margin: 20px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
}

.titre_presentation {
    font-size: 35px;
    font-weight: bold;
    margin: 40px;
    margin-top: 80px;
    color: #198754;
}

.texte_presentation {
    margin: 40px;
    margin-top: 60px;
    text-align: justify;
}

/* CARDS */
.card {
    width: 400px;
    margin-bottom: 30px;
    font-family: inherit;
    font-size: 20px;
    background-color: #198754;
    color: burlywood;
}

.col {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* CONTACT */
.contact-title,
.covoiturages-title,
.not-yet-title {
    font-family: inherit;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 40px;
    margin-top: 80px;
    color: #198754;
}

.covoiturages-title {
    font-size: 40px;
    margin-top: 50px;
}

.contact-info,
.covoiturages-description {
    font-family: inherit;
    font-size: 20px;
    margin: 40px;
    text-align: center;
}

.covoiturages-description {
    font-size: 30px;
}

/* FORMULAIRES */
.connexion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 25px;
    margin: 40px;
    color: #198754;
    background-color: burlywood;
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 15px;
    color: #198754;
    gap: 10px;
}

.create-account-link {
    font-family: inherit;
    font-size: 25px;
    margin: 40px;
    display: flex;
    justify-content: center;
    color: #198754;
    border-color: #198754;
    border-radius: 10px;
}

/* FOOTER */
footer {
    border-top: 5px solid green;
    font-family: inherit;
    margin-top: 20px;
    padding: 40px;
    background-color: #198754;
    text-align: center;
    font-size: 14px;
    color: burlywood;
}
